<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('blocs/header') -%>
    <main>
        <h1>Головна сторінка</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur neque incidunt unde inventore recusandae voluptatibus nam, deserunt saepe in culpa eius eveniet, odio, necessitatibus tenetur obcaecati ea facere deleniti eos!</p>
    </main>
</body>
</html>